{% extends 'SilentD/base2.html' %}
{% load staticfiles %}
{% block navbar_amr %} active {% endblock %}
{% block body_block %}

    <link href="{% static 'css/dataTables.bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/styles.css'%}" rel="stylesheet">
    <link href="{% static 'css/dataTables.colVis.css'%}" rel="stylesheet">
    <link href="{% static 'css/dataTables.tableTools.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-slider.css'%}" rel="stylesheet">
    <link href="{% static 'css/select2.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/dataTables.colVis.js' %}"></script>
    <script src="{% static 'js/dataTables.tableTools.js' %}"></script>
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/modules/exporting.js' %}"></script>
    <script src="{% static 'js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>

    <style>

        .panel-heading a:after {
            font-family: 'Glyphicons Halflings', serif;
            content:"\e114";
            float: right;
            color: grey;
        }
        /*Author: Kosmom.ru*/
        .loading,.loading>td,.loading>th,.nav li.loading.active>a,.pagination li.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
            background-size: 40px 40px;
            animation: 2s linear 0s normal none infinite progress-bar-stripes;
            -webkit-animation: progress-bar-stripes 2s linear infinite;
        }
        .btn.btn-default.loading,input[type="text"].loading,select.loading,textarea.loading,.well.loading,.list-group-item.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
            background-image: linear-gradient(45deg, rgba(235, 235, 235, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(235, 235, 235, 0.15) 50%, rgba(235, 235, 235, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
        }
    </style>

    <section class="content-header">
        <h1>
            Antimicrobial Resistance
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" id="panel3">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapseThree" href="#collapseThree">Usage and Additional Info</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Antimicrobial Resistance is a collection of tools to determine the presence of resistance marker genes in bacterial genomes<br>
                                <a href="http://www.ncbi.nlm.nih.gov/books/NBK279690/">BLAST+</a> (NCBI) is used in conjunction with the ARG-ANNOT and ResFinder databases to determine the presence of resistant genes. Does not take into account
                                resistance conferred by mutations in specific genes and thus may underestimate actual resistance.
                                <strong>ARMI</strong> Antibiotic Resistance Marker Identifier<br>Developed by Michael Knowles of OLC. Uses BLAST along with the CARD Database.
                                Rarity calculated based on hits amongst a species. Other (1800 CFIA Genomes), E.Coli (3299 Genomes) and Salmonella (1899 Genomes)<br><br>
                                <table class="table table-condensed">
                                    <tr>
                                        <th class="tg-031e">Rarity (Higher is Rarer)</th>
                                        <th class="tg-031e">Prevalence<br></th>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">1</td>
                                        <td class="tg-031e">50%+</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">2</td>
                                        <td class="tg-031e">31%-49%</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">3</td>
                                        <td class="tg-031e">20-30%</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">4</td>
                                        <td class="tg-031e">11-20%</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">5</td>
                                        <td class="tg-031e">0-10%</td>
                                    </tr>
                                </table>

                                <strong>ARG-ANNOT</strong>, a new bioinformatic tool to discover antibiotic resistance genes in bacterial genomes. <br>
                                <a href="http://www.ncbi.nlm.nih.gov/pubmed/24145532">PubMed Link</a><br>
                                <strong>ResFinder 2.0</strong> Identification of acquired antimicrobial resistance genes.<br>
                                <a href="http://www.ncbi.nlm.nih.gov/pubmed/22782487">PubMed Link</a>
                                <br>
                                <br>
                                <table class="table table-condensed">
                                    <tr>
                                        <th class="tg-031e">Resistance Labels</th>
                                        <th class="tg-031e">Category<br></th>
                                        <th class="tg-031e">Resistance Labels</th>
                                        <th class="tg-031e">Category<br></th>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">AGly</td>
                                        <td class="tg-031e">aminoglycosides</td>
                                        <td class="tg-031e">Phe</td>
                                        <td class="tg-031e">phenicol</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">Bla</td>
                                        <td class="tg-031e">beta-lactamases</td>
                                        <td class="tg-031e">Rif</td>
                                        <td class="tg-031e">rifampicin</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">Fos</td>
                                        <td class="tg-031e">fosfomycin</td>
                                        <td class="tg-031e">Sul</td>
                                        <td class="tg-031e">sulfonamides</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">Flq</td>
                                        <td class="tg-031e">fluoroquinolones</td>
                                        <td class="tg-031e">Tet</td>
                                        <td class="tg-031e">tetracyclines</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">Gly</td>
                                        <td class="tg-031e">glycopeptides</td>
                                        <td class="tg-031e">Tmt</td>
                                        <td class="tg-031e">trimethoprim</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-031e">MLS</td>
                                        <td class="tg-031e">macrolide-lincosamide-streptogramin</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-body">
                        <!-- Tabs -->
                        <ul class="nav nav-tabs">
                            {% if display or armi_results %}
                                <li class="nav"><a href="#1" data-toggle="tab">Previous Tests</a></li>
                                <li class="nav active"><a href="#2" data-toggle="tab">Result</a></li>
                            {% else %}
                                <li class="nav active"><a href="#1" data-toggle="tab">Previous Tests</a></li>
                            {% endif %}
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div class="tab-pane fade in {% if not display and not armi_results %}active{% endif %}" id=1>
                                <button type="button" id="reload" class="btn btn-primary btn-sm" onclick="location.href='.'"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>

                                <br>
                                <br>
                                <table id="T1" class="table table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Organism</th>
                                        <th>Type</th>
                                        <th>Results</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% if documents %}
                                        {% for document in documents %}
                                            <tr>
                                                <td>{{ document.date|date:"m-d-Y-P"  }}</td>
                                                <td>{{ document.tag }}</td>
                                                <td>{{ document.organism }}</td>
                                                <td>{{ document.type }}</td>
                                                <td>
                                                    {%  if document.error != '' %}
                                                        <form role="form" action="{% url "amr" %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="id" value="{{ document.id }}">
                                                            <input type="hidden" name="delete" value="delete">
                                                            <button type="submit" id="submit" class="btn btn-danger btn-xs">{{ document.error }} <span class="glyphicon glyphicon-trash"></span></button>
                                                        </form>
                                                    {% else %}
                                                        {% if document.job_id == '' %} <!-- No Running Job -->
                                                            <div>
                                                                <table cellpadding="0" cellspacing="0">
                                                                    {% if document.result5 %}
                                                                        <form role="form" action="{% url "amr" %}" method="post">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="result" value="{{ document.result5.name }}">
                                                                            <input type="hidden" name="obj" value="{{ document.id }}">
                                                                            <button type="submit" id="submit" class="btn btn-success btn-xs custombutton"><i class="fa fa-fw fa-pie-chart"></i>ARMI</button>
                                                                        </form>
                                                                        &nbsp;
                                                                    {% endif %}

                                                                    {% if document.result %}
                                                                        <form role="form" action="{% url "amr" %}" method="post">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="result" value="{{ document.result.name }}">
                                                                            <input type="hidden" name="obj" value="{{ document.id }}">
                                                                            <button type="submit" id="submit" class="btn btn-info btn-xs custombutton"></i>ARGannot</button>
                                                                        </form>
                                                                        &nbsp;
                                                                    {% else %}
                                                                        <button type="button" id="error" disabled class="btn btn-warning btn-xs custombutton"></i>ARGannot</button>
                                                                        &nbsp;
                                                                    {% endif %}



                                                                    {% if document.result3 %}
                                                                        <form role="form" action="{% url "amr" %}" method="post">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="result" value="{{ document.result3.name }}">
                                                                            <input type="hidden" name="obj" value="{{ document.id }}">
                                                                            <button type="submit" id="submit" class="btn btn-primary btn-xs custombutton"></i>ResFinder</button>
                                                                            &nbsp;
                                                                        </form>
                                                                    {% else %}
                                                                        <button type="button" id="error" disabled class="btn btn-warning btn-xs custombutton"></i>ResFinder</button>
                                                                        &nbsp;
                                                                    {% endif %}

                                                                    {% if document.result2 %}
                                                                        <a href="{{ document.result2.url }}" class="btn btn-info btn-xs custombutton"><i class="fa fa-fw fa-cloud-download"></i>BLAST</a>
                                                                        &nbsp;
                                                                    {% endif %}

                                                                    {% if document.result4 %}
                                                                        <a href="{{ document.result4.url }}" class="btn btn-primary btn-xs custombutton"><i class="fa fa-fw fa-cloud-download"></i>BLAST</a>
                                                                        &nbsp;
                                                                    {% endif %}
                                                                </table>
                                                            </div>
                                                        {% else %} <!-- Display Progress Button -->
                                                            <form class="form-inline" role="form" action="{% url "amr" %}" method="post">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="id" value="{{ document.id }}">
                                                                <input type="hidden" name="delete" value="delete">
                                                                <button disabled type="submit" id="submit" class="btn btn-info btn-xs loading custombutton">AMR</button>
                                                            </form>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>

                            {%  if display %}
                                <div class="tab-pane fade in active" id=2>
                                    <table id="T2" class="table table-striped table-condensed">
                                        <thead>
                                        {% for key in keys %}
                                            <th>{{ key }}</th>
                                        {% endfor %}

                                        </thead>

                                        <tbody>
                                        {% for row in results %}
                                            <tr>
                                                {% for r in row %}
                                                    <td>{{ r }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% if chart_data %}
                                        <div id="graph" style="height: 250px;"></div>
                                    {% endif %}
                                </div>

                            {% endif %}
                            {%  if armi_results %}
                                <div class="tab-pane fade in active" id=2>
                                <!--ARMI CHART-->
                                <div id="container" style="width: 1000px; height: 700px; margin: 0 auto"></div>

                                <table id="T2" class="table table-striped table-condensed">
                                    <caption style="font-size: 1.5em">{{ caption.3 }} ARMI Results for {{ caption.0 }}, {{ caption.2 }}<br>Rarity Calculated From {{ caption.1 }}</caption>
                                    <thead>
                                    <tr><th>Antibiotic</th>
                                        <th>Rarity (5 Most Rare)</th>
                                        <th>Class</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for key,value in armi_results.items %}
                                        {% for antibiotic,rarity in value.items %}
                                            <tr>
                                                <td>{{ antibiotic }}</td>
                                                <td>{{ rarity }}</td>
                                                <td>{{ key }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>

                                </table>
                                <br>
                                {% if armi_misses %}
                                    <table id="T3" class="table table-striped table-condensed">
                                        <caption style="font-size: 1.5em">{{ caption.3 }} ARMI Misses for {{ caption.0 }}, {{ caption.2 }}<br>Rarity Calculated From {{ caption.1 }}</caption>
                                        <thead>
                                        <tr><th>Antibiotic</th>
                                            <th>Rarity (5 Most Rare)</th>
                                            <th>Class</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for key,value in armi_misses.items %}
                                            {% for antibiotic,rarity in value.items %}
                                                <tr>
                                                    <td>{{ antibiotic }}</td>
                                                    <td>{{ rarity }}</td>
                                                    <td>{{ key }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                {% endif %}
                            {% endif %}
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div><!-- /.col -->
                </div>
            </div>

            <!-- Datatables Initialization Script -->
            <script type="text/javascript">

                $('#T2').DataTable( {
                    dom: 'CT<"clear">lfrtip',
                    tableTools: {
                        "aButtons": [ "copy", "xls","print"],
                        "sSwfPath": '../../static/swf/copy_csv_xls_pdf.swf'
                    },
                    "sScrollX": "100%"
                } );

                $('#T3').DataTable( {
                    dom: 'CT<"clear">lfrtip',
                    tableTools: {
                        "aButtons": [ "copy", "xls","print"],
                        "sSwfPath": '../../static/swf/copy_csv_xls_pdf.swf'
                    },
                    "sScrollX": "100%"
                } );

                //Initialize datatables and sort by Date descending
                $('#T1').DataTable( {
                    "order": [[ 0, "desc" ]],
                    "columnDefs": [
                        { class: 'col-4',
                            targets: 4
                        },
                    ]
                } );

                $(".progress-bar").animate({
                    width: "100%"
                }, 11000);

                {% if armi_results %}
                    var categories = [{% for key in armi_results %}"{{ key }}",{% endfor %}],
                            data = [
                                {% for key, value in armi_results.items %}
                                    {
                                        y: {{ value|length}},
                                        color: "{% cycle '#8B008B' '#4B0082' '#483D8B' '#00008B' '#27408B' '#6495ED' '#104E8B' '#36648B' '#00688B' '#33A1C9' '#00868B' '#03A89E' '#00C78C' '#008B45' '#00CD00' '#698B22' as cols %}",
                                        drilldown: {
                                            name: 'Antibiotics',
                                            categories: [{% for k, v in value.items %}'{{ k }}',{% endfor %}],
                                            data: [{% for k,v in value.items %}{{ v }},{% endfor %}]
                                        }
                                    },
                                {% endfor %}
                            ],
                            browserData = [],
                            versionsData = [],
                            rarityData = [],
                            i,
                            j,
                            dataLen = data.length,
                            drillDataLen,
                            brightness;

                    // Build the data arrays
                    for (i = 0; i < dataLen; i += 1) {

                        // add browser data
                        browserData.push({
                            name: categories[i],
                            y: data[i].y,
                            color: data[i].color
                        });

                        // add version data
                        var colourRarity;
                        drillDataLen = data[i].drilldown.data.length;
                        for (j = 0; j < drillDataLen; j += 1) {
                            brightness = 0.2 - (j / drillDataLen) / 5;

                            var value = data[i].drilldown.data[j];

                            // If Rarity is 5, make outer colour red
                            if (value == 5) {
                                colourRarity = '#E50500';
                            } else if (value == 4) {
                                colourRarity = '#F2615E';
                            } else if(value == 3) {
                                colourRarity = '#FFBDBD';
                            } else {
                                colourRarity = 'white';
                            }
                            versionsData.push({
                                name: data[i].drilldown.categories[j],
                                y: 1,
                                color: Highcharts.Color(data[i].color).brighten(brightness).get()
                            });
                            rarityData.push({
                                name: data[i].drilldown.categories[j],
                                y: 1,
                                color: colourRarity
                            });

                        }
                    }

                    // Create the chart
                    $('#container').highcharts({
                        chart: {
                            type: 'pie'
                        },
                        title: {
                            text: '{{ caption.3 }} ARMI Results for {{ caption.0 }}'
                        },
                        subtitle: {
                            text: '{{ caption.2 }}    Rarity Calculated For {{ caption.1 }}'
                        },
                        yAxis: {
                            title: {
                                text: 'Rarity'
                            }
                        },
                        plotOptions: {
                            pie: {
                                shadow: false,
                                center: ['50%', '50%']
                            }
                        },
                        tooltip: {
                            shared: false,
                            formatter: function() {
                                var text = '';
                                if(this.series.name == 'Rarity') {
                                    if (this.point.color == '#E50500') {
                                        text = 'Rarity 5: Very Rare'
                                    } else if (this.point.color == '#F2615E') {
                                        text = 'Rarity 4: Rare'
                                    } else if (this.point.color == '#FFBDBD') {
                                        text = 'Rarity 3: Uncommon'
                                    } else {
                                        text = 'Common';
                                    }

                                } else {
                                    text = this.point.name;
                                }
                                return text;
                            }
                        },
                        series: [{
                            name: 'Class',
                            data: browserData,
                            size: '60%',
                            dataLabels: {
                                formatter: function () {
                                    return this.y > 0 ? this.point.name : null;
                                },
                                color: '#ffffff',
                                distance: -40
                            }
                        }, {
                            name: 'Antibiotic',
                            data: versionsData,
                            size: '95%',
                            innerSize: '60%',
                            dataLabels: {
                                formatter: function () {
                                    return null;
                                }
                            }
                        }, {
                            name: 'Rarity',
                            data: rarityData,
                            size: '100%',
                            innerSize: '95%',
                            dataLabels: {
                                formatter: function () {
                                    return this.color != 'white' ? '<b>' + this.point.name + '</b>' : null;

                                }
                            }
                        }]
                    });
                {% endif %}
            </script>
            <style>
                .col-4 {
                    min-width: 200px;
                }
            </style>
    </section><!-- /.content -->
{% endblock %}
