{% extends 'SilentD/base2.html' %}
{% load staticfiles %}
{% block navbar_data %} active {% endblock %}
{% block body_block %}
    <link href="{% static 'css/dataTables.bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/dataTables.colVis.css'%}" rel="stylesheet">
    <link href="{% static 'css/dataTables.tableTools.css'%}" rel="stylesheet">
    <link href="{% static 'css/select2.css'%}" rel="stylesheet">
    <link href="{% static 'css/styles.css'%}" rel="stylesheet">


    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/dataTables.colVis.js' %}"></script>
    <script src="{% static 'js/dataTables.tableTools.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>

    <style>
        #scrollable-dropdown-menu .tt-dropdown-menu {
            max-height: 150px;
            overflow-y: auto;
        }
    </style>
    <section class="content-header">
        <h1>
            Projects
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.level_tag == 'error' %}danger{% else %}{{ message.level_tag }}{% endif %}">
                    {{ message.message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <!-- Default box -->
                <div class="box box-info">
                    <div class="box-header">
                        <ul class="nav nav-tabs">
                            <!--<li class="nav active"><a href="#formtab0" data-toggle="tab">MiSeq Runs</a></li>-->
                            <!--<li class="nav"><a href="#formtab1" data-toggle="tab">Individual FastQ Pairs</a></li>-->
                            <li class="nav active"><a href="#formtab2" data-toggle="tab">Custom FastQ Projects</a></li>
                            <li class="nav"><a href="#formtab3" data-toggle="tab">Custom FastA Projects</a></li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="tab-content">
                            <!--<div class="tab-pane fade in active" id='formtab0'>
                                <table id="miseq_projects" class="table table-striped table-condensed customtable">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Files</th>
                                        <th>Generate</th>
                                        <th>RunInfo</th>
                                        <th>SampleSheet</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% if miseq_projects %}
                                        {% for project in miseq_projects %}
                                            <tr>
                                                <td>{{ project.date|date:"Y-m-d" }}</td>
                                                 <td>{% for file in project.files.all %}
                                                    <a href="{{ file.file.url }}">{{ file.name }}</a><br>
                                                {% endfor %}</td>
                                                <td>{% if project.run_stats %}<i class="fa fa-check">{% else %}<i class="fa fa-times">{% endif %}</i></td>
                                                <td>{% if project.run_info %}<i class="fa fa-check">{% else %}<i class="fa fa-times">{% endif %}</i></td>

                                                <td>{{ project.sample_sheet }}{% if project.sample_sheet %}<i class="fa fa-check">{% else %}<i class="fa fa-times">{% endif %}</i></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>-->

                            <div class="tab-pane fade in active" id='formtab2'>
                                <table id="fastq_projects" class="table table-striped table-condensed customtable">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>Organism</th>
                                        <th># Files</th>
                                        <th>File Names</th>
                                        <th>Jobs</th>
                                        <th>Results</th>
                                        <th></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% if fastq_projects %}
                                        {% for project in fastq_projects %}
                                            <tr>
                                                <td>{{ project.description }}</td>
                                                <td>{{ project.date|date:"Y-m-d-P" }}</td>
                                                <td>{% if project.organism %}
                                                    {% if project.organism == '16S' %}
                                                        <button type="button" id="16S" class="btn btn-xs btn-info custombutton loading" disabled>16S Typing</button>
                                                    {% else %}
                                                        {{ project.organism }}
                                                    {% endif %}
                                                {% else %}
                                                    <form id="theForm" action="{% url "data" %}" name='OrganismForm' method="post" enctype="multipart/form-data" class="form-inline">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="assign_organism" value="{{ project.id }}">
                                                        <select title='Organism Species' onchange="this.form.submit()" id="select_organism" name="select_organism" class="form-control">
                                                            <option disabled selected value="Assign Organism">Assign Organism</option>
                                                            <option value="16S">Perform 16S</option>
                                                            <option value="Escherichia coli">Escherichia coli</option>
                                                            <option value="Listeria monocytogenes">Listeria monocytogenes</option>
                                                            <option value="Salmonella enterica">Salmonella enterica</option>
                                                            <option value="Vibrio parahaemolyticus">Vibrio parahaemolyticus</option>
                                                            <option value="Campylobacter jejuni">Campylobacter jejuni</option>
                                                            <option value="Staphylococcus aureus">Staphylococcus aureus</option>
                                                            <option value="Metagenome">Metagenome</option>
                                                            <option value="Other">Other</option>
                                                        </select>
                                                    </form>
                                                {% endif %}
                                                <td>{{ project.num_files }}</td>
                                                <td>{% for file in project.files.all %}
                                                    <a href="{{ file.file.url }}">{{ file.name }}</a><br>
                                                {% endfor %}</td>
                                                <td>
                                                    <form id="JobForm" action="{% url "data" %}" name='JobForm' method="post" enctype="multipart/form-data" class="form-inline">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="project_id" value="{{ project.id }}">
                                                        <select title='Analysis' onchange="this.form.submit()" id="job" name="job" class="form-control">
                                                            <option disabled selected value="Run">Select Job&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                            <!--<option disabled value="spades_start">SPAdes Assembly</option>-->
                                                            <option value="amr_start">AMR</option>
                                                            <option value="mlst_start">MLST</option>
                                                        </select>
                                                    </form>
                                                </td>
                                                <td> <!-- Here Lies All The Buttons Responsible for Background Tasks -->
                                                    <table>
                                                        {% if project.spades_results %}
                                                            <form role="form" action="{% url "data" %}" method="post">
                                                                {% csrf_token %}
                                                                {% if project.spades_results == 'Running' %}
                                                                    <input type="hidden" name="spades_running" value="{{ project.id }}">
                                                                    <button type="button" id="spades" class="btn btn-xs btn-info custombutton loading" disabled>SPAdes</button>
                                                                {% elif project.spades_results == 'Done' %}
                                                                    <input type="hidden" name="spades_results" value="{{ project.id }}">
                                                                    <button type="submit" id="spades" class="btn btn-xs btn-success custombutton">SPAdes</button>
                                                                {% elif project.spades_results == 'Error'  %}
                                                                    <input type="hidden" name="spades_results" value="{{ project.id }}">
                                                                    <button type="submit" id="spades" class="btn btn-xs btn-danger custombutton">SPAdes</button>
                                                                {% else %}
                                                                {% endif %}
                                                            </form>
                                                            &nbsp;
                                                        {% endif %}
                                                        {% if project.amr_results %}
                                                            <form role="form" action="{% url "data" %}" method="post">
                                                                {% csrf_token %}
                                                                {% if project.amr_results == 'Running' %}
                                                                    <input type="hidden" name="amr_running" value="{{ project.id }}">
                                                                    <button type="button" id="amr" class="btn btn-xs btn-info custombutton loading" disabled>AMR</button>
                                                                {% elif project.amr_results == 'Done' %}
                                                                    <input type="hidden" name="amr_results" value="{{ project.id }}">
                                                                    <button type="submit" id="amr" class="btn btn-xs btn-success custombutton">AMR</button>
                                                                {% elif project.amr_results == 'Error'  %}
                                                                    <input type="hidden" name="amr_results" value="{{ project.id }}">
                                                                    <button type="submit" id="amr" class="btn btn-xs btn-danger custombutton">AMR</button>
                                                                {% else %}
                                                                {% endif %}
                                                            </form>
                                                            &nbsp;
                                                        {% endif %}
                                                        {% if project.mlst_results %}
                                                            <form role="form" action="{% url "data" %}" method="post">
                                                                {% csrf_token %}
                                                                {% if project.mlst_results == 'Running' %}
                                                                    <input type="hidden" name="mlst_running" value="{{ project.id }}">
                                                                    <button type="button" id="mlst" class="btn btn-xs btn-info custombutton loading" disabled>MLST</button>
                                                                {% elif project.mlst_results == 'Done' %}
                                                                    <input type="hidden" name="mlst_results" value="{{ project.id }}">
                                                                    <button type="submit" id="mlst" class="btn btn-xs btn-success custombutton">MLST</button>
                                                                {% elif project.mlst_results == 'Error'  %}
                                                                    <input type="hidden" name="mlst_results" value="{{ project.id }}">
                                                                    <button type="submit" id="mlst" class="btn btn-xs btn-danger custombutton">MLST</button>
                                                                {% else %}
                                                                {% endif %}
                                                            </form>
                                                            &nbsp;
                                                        {% endif %}
                                                    </table>
                                                </td>
                                                <td>
                                                    <form style='float: right;' role="form" action="{% url "data" %}" method="post">
                                                        &nbsp;
                                                        {% csrf_token %}
                                                        <input type="hidden" name="id" value="{{ project.id }}">
                                                        <input type="hidden" name="delete" value="{{ project.id }}">
                                                        <button type="submit" id="submit11"
                                                                class="btn btn-danger btn-xs">
                                                            <i class="fa fa-fw fa-trash-o "></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- Custom FastA Projects -->
                            <div class="tab-pane fade in" id='formtab3'>
                                <table id="fasta_projects" class="table table-striped table-condensed customtable">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>Organism</th>
                                        <th># Files</th>
                                        <th>File Names</th>
                                        <th>Jobs</th>
                                        <th>Results</th>
                                        <th></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% if fasta_projects %}
                                        {% for project in fasta_projects %}
                                            <tr>
                                                <td>{{ project.description }}</td>
                                                <td>{{ project.date|date:"Y-m-d-P" }}</td>
                                                <td>{% if project.organism %}
                                                        {{ project.organism }}
                                                    {% else %}
                                                        <form id="theForm" action="{% url "data" %}" name='OrganismForm' method="post" enctype="multipart/form-data" class="form-inline">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="assign_organism" value="{{ project.id }}">
                                                            <select title='Organism Species' onchange="this.form.submit()" id="select_organism" name="select_organism" class="form-control">
                                                                <option disabled selected value="Assign Organism">Assign Organism</option>
                                                                <option value="Escherichia coli">Escherichia coli</option>
                                                                <option value="Listeria monocytogenes">Listeria monocytogenes</option>
                                                                <option value="Salmonella enterica">Salmonella enterica</option>
                                                                <option value="Vibrio parahaemolyticus">Vibrio parahaemolyticus</option>
                                                                <option value="Campylobacter jejuni">Campylobacter jejuni</option>
                                                                <option value="Staphylococcus aureus">Staphylococcus aureus</option>
                                                                <option value="Metagenome">Metagenome</option>
                                                                <option value="Other">Other</option>
                                                            </select>
                                                        </form>
                                                    {% endif %}
                                                <td>{{ project.num_files }}</td>
                                                <td>{% for file in project.files.all %}
                                                    <a href="{{ file.file.url }}">{{ file.name }}</a><br>
                                                {% endfor %}</td>
                                                <td>
                                                    <form id="JobForm" action="{% url "data" %}" name='JobForm' method="post" enctype="multipart/form-data" class="form-inline">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="project_id" value="{{ project.id }}">
                                                        <select title='Analysis' onchange="this.form.submit()" id="job" name="job" class="form-control">
                                                            <option disabled selected value="Run">Select Job&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                                            <option value="amr_start">AMR</option>
                                                            <option value="mlst_start">r/MLST</option>
                                                        </select>
                                                    </form>
                                                </td>
                                                <td> <!-- Here Lies All The Buttons Responsible for Background Tasks -->
                                                    <table>
                                                        {% if project.amr_results %}
                                                            <form role="form" action="{% url "data" %}" method="post">
                                                                {% csrf_token %}
                                                                {% if project.amr_results == 'Running' %}
                                                                    <input type="hidden" name="amr_running" value="{{ project.id }}">
                                                                    <button type="button" id="amr" class="btn btn-xs btn-info custombutton loading" disabled>AMR</button>
                                                                {% elif project.amr_results == 'Done' %}
                                                                    <input type="hidden" name="amr_results" value="{{ project.id }}">
                                                                    <button type="submit" id="amr" class="btn btn-xs btn-success custombutton">AMR</button>
                                                                {% elif project.amr_results == 'Error'  %}
                                                                    <input type="hidden" name="amr_results" value="{{ project.id }}">
                                                                    <button type="submit" id="amr" class="btn btn-xs btn-danger custombutton">AMR</button>
                                                                {% else %}
                                                                {% endif %}
                                                            </form>
                                                            &nbsp;
                                                        {% endif %}
                                                        {% if project.mlst_results %}
                                                            <form role="form" action="{% url "data" %}" method="post">
                                                                {% csrf_token %}
                                                                {% if project.mlst_results == 'Running' %}
                                                                    <input type="hidden" name="mlst_running" value="{{ project.id }}">
                                                                    <button type="button" id="mlst" class="btn btn-xs btn-info custombutton loading" disabled>MLST</button>
                                                                {% elif project.mlst_results == 'Done' %}
                                                                    <input type="hidden" name="mlst_results" value="{{ project.id }}">
                                                                    <button type="submit" id="mlst" class="btn btn-xs btn-success custombutton">MLST</button>
                                                                {% elif project.mlst_results == 'Error'  %}
                                                                    <input type="hidden" name="mlst_results" value="{{ project.id }}">
                                                                    <button type="submit" id="mlst" class="btn btn-xs btn-danger custombutton">MLST</button>
                                                                {% else %}
                                                                {% endif %}
                                                            </form>
                                                            &nbsp;
                                                        {% endif %}
                                                    </table>
                                                </td>
                                                <td>
                                                    <form style='float: right;' role="form" action="{% url "data" %}" method="post">
                                                        &nbsp;
                                                        {% csrf_token %}
                                                        <input type="hidden" name="id" value="{{ project.id }}">
                                                        <input type="hidden" name="delete" value="{{ project.id }}">
                                                        <button type="submit" id="submit11"
                                                                class="btn btn-danger btn-xs">
                                                            <i class="fa fa-fw fa-trash-o "></i>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- /.Tab content -->
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div>

        <script type="text/javascript">
            jQuery(document).ready(function($) {

                // Project Table Initialization
                var files0 = $('#miseq_projects').DataTable({
                    dom: 'C<"clear">lfrtip',
                    "order": [[0, "desc"]],
                    colVis: {
                        "buttonText": "Show File Names",
                        exclude: [0]
                    },
                    "columnDefs": [
                        {"visible": false, "targets": [1]}
                    ]
                });

                var files = $('#indiv_projects').DataTable({
                    dom: 'C<"clear">lfrtip',
                    "order": [[1, "desc"]],
                    colVis: {
                        "buttonText": "Show File Names",
                        exclude: [0, 1, 2, 3, 5]
                    },
                    "columnDefs": [
                        {"visible": false, "targets": [4]}
                    ]
                });

                var files2 = $('#fastq_projects').DataTable({
                    dom: 'C<"clear">lfrtip',
                    "order": [[1, "desc"]],
                    colVis: {
                        "buttonText": "Show File Names",
                        exclude: [0, 1, 2, 3, 5]
                    },
                    "columnDefs": [
                        {"visible": false, "targets": [4]}
                    ]
                });

                var files3 = $('#fasta_projects').DataTable({
                    dom: 'C<"clear">lfrtip',
                    "order": [[1, "desc"]],
                    colVis: {
                        "buttonText": "Show File Names",
                        exclude: [0, 1, 2, 3, 5]
                    },
                    "columnDefs": [
                        {"visible": false, "targets": [4]}
                    ]
                });

                $('select').select2();
            });

        </script>
    </section><!-- /.content -->
{% endblock %}