{% extends 'SilentD/base2.html' %}
{% load staticfiles %}
{% block navbar_snp %} active {% endblock %}
{% block body_block %}

    <link href="{% static 'css/dataTables.bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/styles.css'%}" rel="stylesheet">
    <link href="{% static 'css/dataTables.colVis.css'%}" rel="stylesheet">
    <link href="{% static 'css/dataTables.tableTools.css'%}" rel="stylesheet">

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/dataTables.colVis.js' %}"></script>
    <script src="{% static 'js/dataTables.tableTools.js' %}"></script>

    <style>
        .panel-heading a:after {
            font-family:'Glyphicons Halflings';
            content:"\e114";
            float: right;
            color: grey;
        }
        /*Author: Kosmom.ru*/
        .loading,.loading>td,.loading>th,.nav li.loading.active>a,.pagination li.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
             background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
             background-size: 40px 40px;
             animation: 2s linear 0s normal none infinite progress-bar-stripes;
             -webkit-animation: progress-bar-stripes 2s linear infinite;
         }
        .btn.btn-default.loading,input[type="text"].loading,select.loading,textarea.loading,.well.loading,.list-group-item.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
            background-image: linear-gradient(45deg, rgba(235, 235, 235, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(235, 235, 235, 0.15) 50%, rgba(235, 235, 235, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
        }
    </style>
    <section class="content-header">
        <h1>
            SNP
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <script>
            $(document).ready(function () {
                $('#cutoff').tooltip({'trigger':'hover', 'title': 'Please enter a number above 0 and below 100'});
            });

            $(document).ready(function() {
                $('.input-group input[required], .input-group textarea[required], .input-group select[required]').on('focus change', function() {
                    var $form = $(this).closest('form'),
                            $group = $(this).closest('.input-group'),
                            $addon = $group.find('.input-group-addon'),
                            $icon = $addon.find('span'),
                            state = false;

                    if (!$group.data('validate')) {
                        state = $(this).val() ? true : false;
                    } else if ($group.data('validate') == "number") {
                        state = !isNaN(parseFloat($(this).val())) && isFinite($(this).val()) && $(this).val() > 0 && $(this).val() < 100
                    }

                    if (state) {

                        $addon.removeClass('danger');
                        $addon.addClass('success');
                        $icon.attr('class', 'glyphicon glyphicon-ok');
                    } else {

                        $addon.removeClass('success');
                        $addon.addClass('danger');
                        $icon.attr('class', 'glyphicon glyphicon-remove');
                    }

                    $('#submit2').prop('disabled', true);
                    $('#submit3').prop('disabled', true);
                    if ($form.find('.input-group-addon.danger').length == 0) {
                        $('#submit2').prop('disabled', false);

                        if ($('#reference').val().indexOf(".fasta") > -1) {
                            console.log("Only Genome A Fasta");
                            $('#submit3').prop('disabled', false);
                        }
                    }
                });

                $('.input-group input[required], .input-group textarea[required], .input-group select[required]').trigger('change');
            });

            $(document).on('change', '.btn-file :file', function() {
                console.log("Button change 1");
                var input = $(this),
                        numFiles = input.get(0).files ? input.get(0).files.length : 1,
                        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            $(document).ready( function() {
                $('#genome').on('fileselect', function(event, numFiles, label) {
                    var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if (log.indexOf(".zip") == -1) {
                        input.val('Fasta Genomes Must be Zipped')
                        $('#submit').attr('disabled',true);
                    } else {
                        input.val(log);
                        $('#submit').attr('disabled',false);
                    }
                });
            });

            $(document).ready( function() {
                $('#reference').on('fileselect', function(event, numFiles, label) {
                    var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if (log.indexOf(".fasta") == -1) {
                        input.val('Only a single .fasta reference accepted')
                        $('#submit3').attr('disabled',true);
                    } else {
                        input.val(log);
                        $('#submit3').attr('disabled',false);
                    }
                });
            });
        </script>
        <div class="row">
            <div class="col-md-4">
                <!-- Default box -->
                <div class="box">
                    <div class="box-header">
                        <ul class="nav nav-tabs">
                            <li class="nav active"><a href="#formtab1" data-toggle="tab">kSNP</a></li>
                            <li class="nav"><a href="#formtab2" data-toggle="tab">kSNP FastQ (Soon)</a></li>
                            <li class="nav"><a href="#formtab3" data-toggle="tab">CFSAN (Soon)</a></li>
                        </ul>
                    </div>
                    <div class="box-body">

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <!-- kSNP -->
                            <div class="tab-pane fade in active" id='formtab1'>
                                <form id="snp_form" action="{% url "snp" %}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="kSNP" value="kSNP">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="tag" id="tag" placeholder="Optional Job Title">
                                        <span class="input-group-addon info"><span class="glyphicon glyphicon-asterisk"></span></span>
                                    </div>
                                    <br>

                                    <div class="input-group">
                                        <input type="text" class="form-control" name="genome" readonly value="Upload Zipped Fasta Genomes">
                                            <span class="input-group-btn">
                                                <span class="btn btn-primary btn-file">
                                                    <span class="glyphicon glyphicon-folder"></span>Browse&hellip; <input id="genome" type="file" multiple='True' name="genome" accept=".zip">
                                                </span>
                                            </span>
                                    </div>
                                    <br>
                                    <button type="submit" id="submit" value="submit" class="btn btn-primary" disabled ><span class="glyphicon glyphicon-cog"></span> Analyze</button>
                                </form>
                            </div>

                            <!--kSNP FastQ-->
                            <div class="tab-pane fade in" id='formtab2'>
                                <form id="snp_form2" action="{% url "snp" %}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="kFastQ" value="kFastQ">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <select class="form-control" id="project" name="project" required>
                                            <option disabled selected value="Disabled">Select A Project</option>
                                            {% if projects %}
                                                {% for project in projects %}
                                                    <option value="{{ project.id }}">{{ project.description }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                                    </div>
                                    <br>
                                    <button type="submit" id="submit2" value="submit" class="btn btn-primary" disabled ><span class="glyphicon glyphicon-cog"></span> Analyze</button>
                                </form>
                            </div>

                            <!--CFSAN-->
                            <div class="tab-pane fade in" id='formtab3'>
                                <form id="snp_form3" action="{% url "snp" %}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="CFSAN" value="CFSAN">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <select class="form-control" id="project" name="project" required>
                                            <option disabled selected value="Disabled">Select A Project</option>
                                            {% if projects %}
                                                {% for project in projects %}
                                                    <option value="{{ project.id }}">{{ project.description }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <input type="text" class="form-control" readonly value="Upload Fasta Reference Genome">
                                            <span class="input-group-btn">
                                                <span class="btn btn-primary btn-file">
                                                    <span class="glyphicon glyphicon-folder"></span>Browse&hellip; <input type="file" id='reference' name="reference" accept=".fasta">
                                                </span>
                                            </span>
                                    </div>
                                    <br>
                                    <button type="submit" id="submit3" value="submit" class="btn btn-primary" disabled ><span class="glyphicon glyphicon-cog"></span> Analyze</button>
                                </form>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->

            <div class="col-md-5">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" id="panel1">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">Usage Guide</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <strong>kSNP</strong>:A program for SNP identification and phylogenetic analysis without genome alignment or reference genomes. <br>
                                <strong>CFSAN</strong>: Uses reference-based alignments to create a matrix of SNPs for a given set of samples.<br>
                                <br>
                                <strong>Acceptable Upload Formats</strong><br>
                                .zip<br><br>

                                Upload a zip file containing only Fasta or FastQ files, or a combination thereof<br>
                                <br>
                                CFSAN (Not Yet Implemented) requires a reference genome (Fasta) uploaded seperately.
                                <br>
                                kSNP will produce a phylogenenic tree if given atleast 5 genomes
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" id="panel1">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo">Additional Info</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a href="http://snp-pipeline.readthedocs.org/en/latest/readme.html">CFSAN Documentation</a><br>
                                <a href="http://sourceforge.net/projects/ksnp/files/">kSNP Documentation</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Default box -->
                <div class="box">
                    <div class="box-body">
                        <!-- Tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav"><a href="#1" data-toggle="tab">Previous Tests</a></li>
                            {% if results %}
                                <li class="nav"><a href="#2" data-toggle="tab">Result</a></li>
                            {% endif %}
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in {% if not results %}active{% endif %}" id=1>
                                <button type="button" id="reload" class="btn btn-primary btn-sm" onclick="location.href='.'"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>

                                <br>
                                <br>
                                <table id="T1" class="table table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Program</th>
                                        <th>Genomes or Reference</th>
                                        <th>SNPs</th>
                                        <th>Results</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for document in documents %}
                                        <tr>
                                            <td>{{ document.date|date:"m-d-Y-P"  }}</td>
                                            <td>{{ document.tag }}</td>
                                            <td>{{ document.type }}</td>
                                            <td>{% if document.upload %}<a href="{{ document.upload.url }}">{{ document.name }}</a>{% endif %}</td>
                                            <td>{{ document.snps }}</td>
                                            <td>
                                                {% if document.job_id == '' %}
                                                    {% if document.result != 'False' %}<a href="{{ document.result.url }}" class="btn btn-info btn-xs" style='float: left;'><i  class="fa fa-fw fa-cloud-download"></i>Download</a>{% endif %}
                                                    {% if document.tree != 'False' %}<a href="{{ document.tree.url }}" class="btn btn-success btn-xs" style='margin-left: 5px; float: left; padding-left: 5px'><i class="fa fa-fw fa-pagelines"></i>Tree</a>{% endif %}
                                                    <form style='float: left; padding-left: 5px' role="form" action="{% url "snp" %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="id" value="{{ document.id }}">
                                                        <input type="hidden" name="delete" value="delete">
                                                        <button type="submit" id="submit" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
                                                    </form>
                                                {% else %}
                                                    <form class="form-inline" role="form" action="{% url "amr" %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="id" value="{{ document.id }}">
                                                        <input type="hidden" name="delete" value="delete">
                                                        <button type="submit" id="submit" class="btn btn-danger loading">Stop</button>
                                                    </form>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            {%  if results %}
                                <div class="tab-pane fade in active" id=2>
                                    <table id="T2" class="table table-striped table-condensed">
                                        <thead>
                                        {% for key in keys %}
                                            <th>{{ key }}</th>
                                        {% endfor %}

                                        </thead>

                                        <tbody>
                                        {% for row in results %}
                                            <tr>
                                                {% for r in row %}
                                                    <td>{{ r }}</td>
                                                {% endfor %}
                                            </tr>

                                        {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            {% endif %}
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div>
        </div>

        <!-- Datatables Initialization Script -->
        <script type="text/javascript">

            jQuery(document).ready(function($) {
                var table = $('#T2').DataTable( {
                    dom: 'CT<"clear">lfrtip',
                    tableTools: {
                        "aButtons": [ "copy", "xls","print"],
                        "sSwfPath": '../../static/swf/copy_csv_xls_pdf.swf'
                    }
                } );
                //Initialize datatables and sort by Date descending
                var table_1 = $('#T1').DataTable( {
                    "order": [[ 0, "desc" ]]
                } );
            } );

            /*$(document).ready(function () {
             $('.group').hide();
             $('#kSNP').show();
             $('#program').change(function () {
             $('.group').hide();
             $('#'+$(this).val()).show();
             })
             });*/

            $(".progress-bar").animate({
                width: "100%"
            }, 200000);


        </script>

    </section><!-- /.content -->
{% endblock %}
